{% extends 'layout.html.twig' %}
{% block main %}
        <main>
            <div>
                <p>{{ ip }}</p>
                <p>{{ user_agent }}</p>
            </div>
        </main>
{% endblock %}
