<!DOCTYPE html>
<html lang="fr">
{% include "Includes/head.html.twig" %}
{% block body %}
    <body>
        <div>
{% block header %}{% include "Includes/header.html.twig" %}{% endblock %}
{% block main %}
            <main>
                <h1 class="animate__animated animate__backInDown">{{ title.SITE.APP_TITLE|raw }}</h1>
                <h2 class="animate__animated animate__fadeIn">{{ title.SITE.APP_DESCRIPTION }}</h2>
            </main>
{% endblock %}
{% block footer %}{% include "Includes/footer.html.twig" %}{% endblock %}
        </div>
    </body>
{% endblock %}
{% block scripts %}{% include "Includes/scripts.html.twig" %}{% endblock %}
</html>

