        <footer>
            <address>
                <span>&copy; | 2K19 - {{ "now"|date("Y") }} | </span>
                <a href="mailto:{{ title.WEB_MASTER.APP_MAIL_WM }}">{{ title.WEB_MASTER.APP_LASTNAME_WM }} {{ title.WEB_MASTER.APP_FIRSTNAME_WM }}</a>
            </address>
        </footer>
