        <header class="masthead">
            <div class="inner" >
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/readme">ReadMe</a>
                    <a class="nav-link" href="/client">Client</a>
                    <a class="nav-link" href="/debug">Debug</a>
                </nav>
            </div>
        </header>
