<!DOCTYPE html>
<html lang="fr">
{% include "Includes/head.html.twig" %}
{% block body %}
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
{% block header %}{% include "Includes/header.html.twig" %}{% endblock %}
{% block main %}
            <main role="main" class="inner cover">
                <h1 class="cover-heading animate__animated animate__backInDown">{{ title.SITE.APP_TITLE|raw }}</h1>
                <h2 class="animate__animated animate__fadeIn">{{ title.SITE.APP_DESCRIPTION }}</h2>
            </main>
{% endblock %}
{% block footer %}{% include "Includes/footer.html.twig" %}{% endblock %}
        </div>
    </body>
{% endblock %}
{% block scripts %}{% include "Includes/scripts.html.twig" %}{% endblock %}
</html>

